mixin game(game)
  - var score = game.gameScoreData
  - var scoreElements = game.gameScoreData.gameScoreElements
  div.gameDescription
    img.awayTeamLogo(src='/teamLogos/large/' + game.awayTeamShort + '.png')
    div#overallScore #{score.gameScore + score.indivScore}
    img.homeTeamLogo(src='/teamLogos/large/' + game.homeTeamShort + '.png')
  hr.hidden
  div.gamePerf.hidden
    P.scoreNumber #{score.gameScore}
    p.scoreText Game
    div.gamePerfDetails
      hr
      if scoreElements.nbOvertimes === 1
        p.nbOvertimes 1 Overtime
      else if scoreElements.nbOvertimes > 1
        p.nbOvertimes #{scoreElements.nbOvertimes} Overtimes
      p.scoringDiffWeightedAvg Score Difference: #{scoreElements.scoringDiffWeightedAvg}
      p.LeadChanges #{scoreElements.leadChanges} Lead Changes
      p.lateLeadChanges #{scoreElements.lateLeadChanges} Late Lead Changes
      if scoreElements.buzzerBeaterTier || scoreElements.buzzerBeaterWinner
        p.buzzerBeaterTier Buzzer Beater!
      if scoreElements.maxTeamPoints>130
        p.maxPoints Winning team points: #{scoreElements.maxTeamPoints}
  div.indivPerf.hidden
    p.scoreNumber #{score.indivScore}
    p.scoreText Individual
    div.indivPerfDetails
      hr
      each val in scoreElements.pointsPerf
        p.indivPoint= val.player + ": " + val.points + ' points'
      each val in scoreElements.threePtsPerf
        p.indivThreePts= val.player + ': ' + val.threePts + " made 3 pts"
      each val in scoreElements.reboundsPerf
        p.indiv= val.player + ': ' + val.rebounds + " rebounds"
      each val in scoreElements.assistsPerf
        p.indivPoint= val.player + ": " + val.assists + ' assists'
      each val in scoreElements.stealsPerf
        p.indivPoint= val.player + ": " + val.steals + ' steals'
      each val in scoreElements.blocksPerf
        p.indivPoint= val.player + ": " + val.blocks + ' blocks'
      each val in scoreElements.tripleDoublePerf
        p.indivPoint= val.player + ': triple double'
  div.clear
  div.buttonsWrapper
    button.detailsButton.btn Show details
    a.gameStatsButton.btn(href='/game/' + game.gameId) Game Dashboard
//-     output += '<li>Individual performance - points: ' + JSON.stringify(res.gameScoreElements.pointsPerf) + '</li>';
//-     output += '<li>Individual performance - 3 Points made: ' + JSON.stringify(res.gameScoreElements.threePtsPerf) + '</li>';
//-     output += '<li>Individual performance - Rebounds: ' + JSON.stringify(res.gameScoreElements.reboundsPerf) + '</li>';
//-     output += '<li>Individual performance - Assists: ' + JSON.stringify(res.gameScoreElements.assistsPerf) + '</li>';
//-     output += '<li>Individual performance - Steals: ' + JSON.stringify(res.gameScoreElements.stealsPerf) + '</li>';
//-     output += '<li>Individual performance - Blocks: ' + JSON.stringify(res.gameScoreElements.blocksPerf) + '</li>';
//-     output += '<li>Individual performance - Triple Doubles: ' + JSON.stringify(res.gameScoreElements.tripleDoublePerf) + '</li></ul>';






doctype html
html(lang="en")
  head
    title= 'NBA - What game should I watch?'
    meta(name="google-site-verification" content="g49XxGpYpDLNZ6sBbipT__OZ3zmOKrTDIWgXkJ6oD94")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
    script(src='/scripts/script.js')
  body
    nav.navbar.navbar-dark.navbar-expand-lg(style='background-color: #303F9F')
      a.navbar-brand(href='/') NBA Stats
      div.navbar-nav
        a.nav-item.nav-link.active(href='/') What game should I watch
        a.nav-item.nav-link(href='/seasonTracker') Season Tracker
    div.mainWrapper
      div.container(id='dateNav')
        div.row
          a.dateLink.col-sm(href='/' + dates.yesterday) #{dates.yesterdayLong}
          p.dateLink.col-sm #{dates.todayLong}
          a.dateLink.col-sm(href='/' + dates.tomorrow) #{dates.tomorrowLong}
      if games.length > 0
        ul.gamesWrapper.container
          for game in games
            li.game
              +game(game)
      else
        div.container
          p.noGames No games on date #{dates.today}